@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.maindiv {
    height: 100%;
}

.site {
    height: 100%;
}

footer {
    color: white;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    padding-top: 10px;
}

footer > img{
    height:15px;
    width: auto;
}

div {
    background-repeat: no-repeat;
    background-size: cover;
}
