<div fxLayout="row-reverse" fxLayoutAlign="start center" fxLayout.sm="column" class="page-header-row">
  <div fxFlex>
    <h1 class="mat-h1">Change password</h1>
  </div>
</div>
<app-common-loading *ngIf="isLoading"></app-common-loading>
<form (ngSubmit)="onSubmit()" [formGroup]="theForm" [hidden]="isLoading">
  <div fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="form-card">
      <mat-card-content fxLayout="column" fxLayoutAlign="space-around stretch">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Current Password" type="password" formControlName="currentPassword" required="true">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="New Password" type="password" formControlName="newPassword" required="true">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Confirm Password" type="password" formControlName="confirmPassword" required="true">
        </mat-form-field>
        <div style="color: red" *ngIf="errorMsg">New Password and Confirm Password must match</div>

        <div fxLayout="row" fxLayoutAlign="space-evenly end">
          <div class="button-row">
            <button mat-raised-button color="primary" type="submit" [disabled]="theForm.status=='INVALID'">Submit</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</form>