<link href="https://unpkg.com/bootstrap-css-only@4.1.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://unpkg.com/font-awesome@4.7.0/css/font-awesome.css" rel="stylesheet">
<link href="https://unpkg.com/angular-calendar@0.26.4/css/angular-calendar.css" rel="stylesheet">
<link href="https://unpkg.com/flatpickr@4.5.2/dist/flatpickr.css" rel="stylesheet">

<ng-template #modalContent let-close="close">
  <div class="modal-header"><h3>{{modalData?.event.title}}</h3>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div >
      <div><b>Module: </b>{{modalData?.event.block}}-L{{modalData?.event.level}}-{{modalData?.event.zone}}-{{modalData?.event.markingNo}} </div>
    </div>
    <div>
      <div><b>Sub Con: </b>{{modalData?.event.subConName}}</div>
      <div><b>Planned StartDate: </b></div><div>{{modalData?.event.start | date: "dd/MM/yyyy"}}</div>
      <div><b>Planned EndDate: </b></div><div>{{modalData?.event.end | date: "dd/MM/yyyy"}}</div>
      <div><b>Actual StartDate: </b></div><div>{{modalData?.event.actualStartDate | date: "dd/MM/yyyy"}}</div>
      <div><b>Actual EndDate: </b></div><div>{{modalData?.event.actualEndDate | date: "dd/MM/yyyy"}}</div>
    </div>  
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
    <button type="button" class="btn btn-outline-secondary" (click)="close();checklist()" *ngIf="modalData?.event.status=='Complete'&&modalData?.event.qcstatus!='Pending'">Checklist</button>
  </div>
</ng-template>

<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false">
        Previous
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate">
        Today
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false">
        Next
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        (click)="view = CalendarView.Month"
        [class.active]="view === CalendarView.Month"
        style="z-index: 0">
        Month
      </div>
      <!--
      <div
        class="btn btn-primary"
        (click)="view = CalendarView.Week"
        [class.active]="view === CalendarView.Week">
        Week
      </div>
      <div
        class="btn btn-primary"
        (click)="view = CalendarView.Day"
        [class.active]="view === CalendarView.Day">
        Day
      </div>
      -->
    </div>
  </div>
</div>
<br>

<div [ngSwitch]="view" style="background-color: white; margin: 20px">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="jobsDataSource.data"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
    style="background-color:black!important">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="jobsDataSource.data"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="jobsDataSource.data"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-day-view>
</div>

<mat-card class="form-card" style="padding: 0px 15px">
  <mat-card-content fxLayout="column">
      <div>
        <div style="margin:10px; float: left;"><div style="background-color: rgb(30, 144, 255);height: 10px;width: 10px; border-radius: 50%; float: left; margin-top:5px;"></div><div style="margin-left:20px">Pending Jobs</div></div>
        <div style="margin:10px; float: left;"><div style="background-color: rgb(227, 188, 8);height: 10px;width: 10px; border-radius: 50%; float: left; margin-top:5px;"></div><div style="margin-left:20px">Pending QC</div></div>
        <div style="margin:10px; float: left;"><div style="background-color: rgb(40, 167, 69);height: 10px;width: 10px; border-radius: 50%; float: left; margin-top:5px;"></div><div style="margin-left:20px">QC Completed</div></div>
        <div style="margin:10px; float: left;"><div style="background-color: rgb(220, 53, 69);height: 10px;width: 10px; border-radius: 50%; float: left; margin-top:5px;"></div><div style="margin-left:20px">QC Failed</div></div>
      </div>
  </mat-card-content>
</mat-card>

<br><br>

<h3>
    Job Schedule
</h3>

<h3>  
  <button
    class="btn btn-primary pull-right"
    style="margin-right:20px" routerLink='import-jobschedule'
    >
    Import
  </button>
  
  <div class="clearfix"></div>
</h3>

<mat-form-field style="padding-left:10px">
  <mat-select placeholder="Block" (selectionChange)="onBlockChanged($event)" id="blkSelect" [(value)]="block">
    <mat-option value=''>All</mat-option>
    <mat-option *ngFor="let blk of blocks" [value]='blk'>
      {{ blk }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field style="padding-left:10px" [hidden]="block==''">
  <mat-select placeholder="Level" (selectionChange)="onLevelChanged($event)" id="lvlSelect" [(value)]="level">
    <mat-option value=''>All</mat-option>
    <mat-option *ngFor="let lvl of levels" [value]='lvl'>
      {{ lvl }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field style="padding-left:10px">
  <mat-select placeholder="Module Type" (selectionChange)="onMaterialTypeChanged($event)" id="materialTypeSelect" [(value)]="materialType">
    <mat-option value=''>All</mat-option>
    <mat-option *ngFor="let materialType of materialTypes" [value]='materialType'>
      {{ materialType }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field style="padding-left:10px">
  <mat-select placeholder="Sub Contractors" (selectionChange)="onSubconChanged($event)" id="subconSelect" [(value)]="subcon">
    <mat-option value=''>All</mat-option>
    <mat-option *ngFor="let subcon of subconsList" [value]='subcon'>
      {{ subcon }}
    </mat-option>
  </mat-select>
</mat-form-field>

    <mat-form-field style="padding-left:10px">
    <input matInput (keyup)="onFilterKeyIn($event)" placeholder="Filter" [(ngModel)]='filterJOBS'>
    <button mat-button *ngIf="filterJOBS" matSuffix mat-icon-button aria-label="Clear" (click)="jobsDataSource.filter = filterJOBS = ''">
      <mat-icon (click)="onFilterKeyClose($event)">close</mat-icon>
    </button>
  </mat-form-field>
 
<div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()"  
[scrollWindow]="false" style="height: 400px; overflow-y: scroll;">
  <table mat-table [dataSource]="jobsDataSource"  matSort >
    <ng-container matColumnDef="level">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Level</th>
      <td mat-cell *matCellDef="let element"> {{element.level}} </td>
    </ng-container>
    <ng-container matColumnDef="materialType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Module Type</th>
      <td mat-cell *matCellDef="let element"> {{element.materialType}} </td>
    </ng-container>
    <ng-container matColumnDef="zone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit</th>
      <td mat-cell *matCellDef="let element"> {{element.zone}} </td>
    </ng-container>
    <ng-container matColumnDef="markingNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Marking No.</th>
      <td mat-cell *matCellDef="let element"> {{element.markingNo}} </td>
    </ng-container>
    <ng-container matColumnDef="tradeName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Trade</th>
      <td mat-cell *matCellDef="let element"> {{element.tradeName}} </td>
    </ng-container>
    <ng-container matColumnDef="subcon">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Sub Contractor</th>
      <td mat-cell *matCellDef="let element">
        <mat-select matInput placeholder="Sub Contractor" [(value)] = "element.subConID" (selectionChange)="element.isUpdated = true;" 
        [disabled]="element.statusCode>=4"><!-- ststau code 4=started-->
          <mat-option *ngFor="let subcon of subcons" [value]='subcon.id'>
            {{ subcon.name }}
          </mat-option>
        </mat-select>
      </td>
    </ng-container>
    <ng-container matColumnDef="plannedStartDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Planned Start Date</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <input matInput [matDatepicker]="plannedStartDate" placeholder="Planned Start Date" [(ngModel)]="element.start" [min]="minDate" [max]="element.end"
          (ngModelChange)="refresh.next(); element.isUpdated = true;" [disabled]="element.statusCode>=4"
           required> <!-- status code 4=started-->
          <mat-datepicker-toggle matSuffix [for]="plannedStartDate"></mat-datepicker-toggle>
          <mat-datepicker #plannedStartDate touchUi="true"></mat-datepicker>
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="plannedEndDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Planned End Date</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field>
            <input matInput [matDatepicker]="plannedEndDate" placeholder="Planned End Date" [(ngModel)]="element.end" [min]="element.start!=null?element.start:minDate"
            (ngModelChange)="refresh.next(); element.isUpdated = true;" [disabled]="element.statusCode>=4" 
            required><!-- ststau code 4=started-->
            <mat-datepicker-toggle matSuffix [for]="plannedEndDate"></mat-datepicker-toggle>
            <mat-datepicker #plannedEndDate touchUi="true"></mat-datepicker>
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let element" [ngClass]="{
          'jobQcPending':element.status =='Job not started'||element.status =='Job not assigned',
          'pass':element.status=='QC accepted by RTO' ||element.status=='QC Passed'|| element.status=='All QC passed',
          'pending':element.status=='Job completed'||element.status=='QC routed to RTO',
          'jobQcFailed':element.status=='QC failed by Maincon'||element.status=='QC rectified by Subcon'|| element.status=='QC rejected by RTO',
          'started':element.status=='Job started','delayed':element.status =='Job delayed'
         }"> {{element.status}} </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"  id="row_{{row.id}}"></tr>
  </table>  
  <!-- <mat-paginator #paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" >
  </mat-paginator> -->
</div>

<div fxLayout="row" [hidden]="isLoading" fxLayoutAlign="space-evenly end" fxLayoutGap="20px" style="margin-top:15px">
  <div class="button-row">
    <button mat-raised-button color="primary" (click)="onSave()" [disabled]="jobsDataSource.data.length==0">Save</button>
  </div>
</div>
<app-common-loading *ngIf="isLoading"></app-common-loading>