<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="astorWork_Navisworks.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <astorWork_Navisworks.Properties.Settings>
            <setting name="API_KEY" serializeAs="String">
                <value />
            </setting>
            <setting name="API_ENDPOINT" serializeAs="String">
                <value>http://Brian-HP-SNC3E7S/astorWorkDev/api/</value>
            </setting>
            <setting name="USER_ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="USER_NAME" serializeAs="String">
                <value />
            </setting>
            <setting name="LAST_SYNC_TIME" serializeAs="String">
                <value />
            </setting>
            <setting name="IS_UPLOAD_CLOUD" serializeAs="String">
                <value>False</value>
            </setting>
        </astorWork_Navisworks.Properties.Settings>
    </userSettings>
</configuration>