<div class="b4-login-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="40px">
  <app-common-loading *ngIf="isLoading"></app-common-loading>
  <mat-card style="opacity: 0.9;" [style.display]="isLoading ? 'none' : 'block'">
    <mat-card-content>
      <div fxLayout="column" fxLayoutAlign="center stretch">
        <div fxLayout="row" fxLayoutAlign="center center">
          <img src="assets/Icons/logo-icon.png" alt="Logo" width="50" height="34">
          <h3 mat-h3>astorWork</h3>
        </div>
        <mat-form-field class="full-width-input">
          <input fxFlext matInput placeholder="User Name" [(ngModel)]="userName" required>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input fxFlext matInput placeholder="Email" [(ngModel)]="email" required>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="onSubmit()" type="submit">Reset</button>
        <div fxLayout="column" fxLayoutAlign="end center">
          <br>
          <a mat-button routerLink="/" class="link-button">Cancel</a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>