<div fxLayout="row-reverse" fxLayoutAlign="start center" fxLayout.sm="column" class="page-header-row">
  <div fxFlex>
    <h1 class="mat-h1">{{title}}</h1>
  </div>
</div>
<app-common-loading *ngIf="isLoading"></app-common-loading>
<form (ngSubmit)="onSubmit()" [formGroup]="theForm" [hidden]="isLoading">
  <mat-card class="form-card">
    <mat-card-content fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="20px">
      
      <mat-form-field>
        <input matInput class="form-control" formControlName="name" placeholder="Location Name" required>
      </mat-form-field>
      
      <mat-form-field>
        <textarea matInput class="form-control" formControlName="description" placeholder="Location Description"></textarea>
      </mat-form-field>

      <mat-slide-toggle [checked]="showVendorSelection" [(ngModel)]="showVendorSelection"  [ngModelOptions]="{standalone: true}" ngDefaultControl 
        (change)="toggle()" [disabled]="disabled" color="accent">
            Is Vendor Location ?
        </mat-slide-toggle>
      
        <mat-form-field>
        <mat-select matInput placeholder="Site" formControlName="siteId"  [disabled]="disabled" required>
          <mat-option *ngFor="let site of allSites" [value]='site.id'>{{site.name}}</mat-option>
        </mat-select>
      </mat-form-field>
     
      <div fxLayout="row" fxLayoutAlign="center end" fxLayoutGap="20px">
          <button mat-raised-button color="primary" type="submit" [disabled]="theForm.status=='INVALID' || accessRight < 2">{{submit}}</button>
          <button mat-raised-button  color="primary" type="button" (click)="onCancel()">Cancel</button>
        </div>
    </mat-card-content>
  </mat-card>
  
</form>