table {
  width: 100%;
}

dt{
  font-size: 20px!important;
}

#printContainer {
  display: none;
}

.print-qr-title {
  font-size: 48px;
  font-weight: bold;
}
.mat-column-materialTypes {
  width: 10% !important;
  white-space: unset !important;
  word-break: break-all;
  padding-right: 15px;
}

.modal-content {
  width: 1000px!important;
}

