
<button mat-fab class="top-right-fab-button button" routerLink='create' *ngIf="accessRight >= 2">
  <mat-icon aria-label="Crete MRF">add</mat-icon>
</button>
<div fxLayout="row" fxLayoutAlign="start center" fxLayout.xs="column" fxLayout.sm="column" class="page-header-row">
  <div fxFlex>
    <h1 class="mat-h1 page-header">Material Request Forms</h1>
  </div>
  <div fxFlex="25">
    <mat-form-field>
      <mat-select placeholder="Block" (selectionChange)="onBlockChanged($event)" id="blkSelect" [(value)]="selectedBlock">
        <mat-option value='all'>All</mat-option>
        <mat-option *ngFor="let blk of blocks" [value]='blk'>
          {{ blk }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div fxFlex="25">
    <mat-form-field>
      <input matInput (keyup)="onFilterKeyIn($event)" placeholder="Filter" [(ngModel)]='filter'>
      <button mat-button *ngIf="filter" matSuffix mat-icon-button aria-label="Clear" (click)="dataSource.filter = filter = ''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

  <ng-container matColumnDef="mrfNo">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="mobile-hidden"> MRF No. </th>
    <td mat-cell *matCellDef="let element" class="mobile-hidden"> {{element.mrfNo}} </td>
  </ng-container>

  <ng-container matColumnDef="block">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Block </th>
    <td mat-cell *matCellDef="let element"> {{element.block}} </td>
  </ng-container>

  <ng-container matColumnDef="level">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Level </th>
    <td mat-cell *matCellDef="let element"> {{element.level}} </td>
  </ng-container>

  <ng-container matColumnDef="zone">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Zone </th>
    <td mat-cell *matCellDef="let element"> {{element.zone}} </td>
  </ng-container>

  <ng-container matColumnDef="materialTypes">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Type(s) </th>
    <td mat-cell *matCellDef="let element"> {{element.materialTypes.join(', ')}} </td>
  </ng-container>

  <ng-container matColumnDef="orderDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="mobile-hidden"> Order Date </th>
    <td mat-cell *matCellDef="let element" class="mobile-hidden"> {{element.orderDate | date:'M/d/yyyy'}} </td>
  </ng-container>

  <ng-container matColumnDef="plannedCastingDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="mobile-hidden"> Slab Casting Date </th>
    <td mat-cell *matCellDef="let element" class="mobile-hidden"> {{element.plannedCastingDate | date:'M/d/yyyy'}} </td>
  </ng-container>

  <ng-container matColumnDef="vendorName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Vendor </th>
    <td mat-cell *matCellDef="let element"> {{element.vendorName}} </td>
  </ng-container>

  <ng-container matColumnDef="progress">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress </th>
    <td mat-cell *matCellDef="let element">
      <div fxLayout="column" fxLayoutAlign="center stretch" style="width: 100%;">
        <span>{{this.Math.round(element.progress*10000) / 100}}%</span>
        <mat-progress-bar mode="determinate" [value]="element.progress*100"></mat-progress-bar>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)" class="row_clicable" id="row_{{row.id}}"></tr>
</table>
<mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
</mat-paginator>
<app-common-loading *ngIf="isLoading"></app-common-loading>