@model IEnumerable<Autodesk.Forge.Model.BucketsItems>

@{
    ViewData["Title"] = "BIM Management";
}

<h2> BIM Management </h2>
<div class="row">
    <h4 class="text-info" style="margin: 0 auto; text-align: center; white-space: pre-line;">
        @ViewBag.Message
    </h4>
</div>
<hr />
<div class="row">
    <form asp-action="Index">
        <input type="submit" name="Op" value="Authenticate" class="btn btn-default" />
        <input type="submit" name="Op" value="Get Buckets" class="btn btn-default" />
        <input type="submit" name="Op" value="Create Bucket" class="btn btn-default" />
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Bucket
            </th>
            <th>
                Policy
            </th>
            <th>
                Created At
            </th>
        </tr>
    </thead>
    <tbody></tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BucketKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PolicyKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
        </tr>
    }
</table>