<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="astorWorkNavis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <astorWorkNavis.Properties.Settings>
            <setting name="ACCESS_TOKEN" serializeAs="String">
                <value />
            </setting>
            <setting name="REFRESH_TOKEN" serializeAs="String">
                <value />
            </setting>
            <setting name="PROJECT_ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LAST_SYNC_TIME" serializeAs="String">
                <value>1970-01-01 +08:00</value>
            </setting>
            <setting name="ACCESS_TOKEN_EXPIRES" serializeAs="String">
                <value>1970-01-01 +08:00</value>
            </setting>
            <setting name="LAST_SYNC_ID" serializeAs="String">
                <value>0</value>
            </setting>
        </astorWorkNavis.Properties.Settings>
    </userSettings>
</configuration>