<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.astoriasolutions.MaterialTrackApp" android:installLocation="preferExternal" android:versionCode="3" android:versionName="0.3">
	<uses-sdk android:minSdkVersion="19" />
	<uses-feature android:name="android.hardware.bluetooth_le" android:required="true" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<application android:label="astorTrack" android:icon="@drawable/icon"></application>
</manifest>